$color-main:rgba(94, 9, 9, 0.938);
$color-titulos:rgba(127, 255, 212, 0.808);
$color-textos:rgba(127, 236, 255, 0.849);
$color-boton:rgb(255, 255, 255);
$color-contacto:rgba(234, 240, 241, 0.308);
$color-footer:rgba(94, 9, 9, 0.836);
$color-copyright:rgba(172, 136, 136, 0.843);
$color-figcaption:rgba(247, 247, 247, 0.842);

$font:"Stack Sans Headline", sans-serif;

$img-main:url(../img/fondo2.jpg);

$borde-subtitulo:1px rgb(23, 171, 207) solid;
$shadow-focus: 10px 10px 10px rgba(148, 17, 17, 0.773);
$shadow-focus-galeria:10px 10px 10px rgb(129, 2, 2);
$color-hover:rgb(245, 245, 220);
$color-hover-background:rgba(177, 69, 36, 0.906);
$color-visited:rgb(99, 192, 91);
