@use "../utilities/variables" as *;
@use "../utilities/extend" as *;
@use "../utilities/mixins" as *;

img {
    max-width: 100%;
}

body {
    font-family: $font;
    background-image: $img-main;
    color: rgb(0, 0, 0);
    overflow-x: hidden;
}


section {
    @extend %section;
}

